#/etc/systemd/system/logging-qmi.service
[Unit]
Description=UE - Logging QMI 
After=syslog.target

[Service]
Type=simple
WorkingDirectory=~/logging-qmi
ExecStart=~/logging-qmi/env/bin/python3.11 ~/logging-qmi/logging_qmi.py -d /dev/cdc-wdm0
Restart=on-failure
RestartSec=3
User=root
Group=root

[Install]
WantedBy=multi-user.target